<!doctype html>

<html>
<head>
	<title>GeoTest</title>
	<meta charset="utf-8">
	<meta name="description" content="A test of geolocation API">
</head>

<body>
	
	<h1>WHOOPS</h1>
	<p>Ya screwed up an 404-ed!</p>
</body>


</html>