<!doctype html>

<html>
<head>
	<title>GeoTest</title>
	<meta charset="utf-8">
	<meta name="description" content="A test of geolocation API">
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
	
	<div class="container">
		<div id="alertSpace"></div>
	
		<h1>Hi There!</h1>
	
	</div>
	
	<script src=javascripts/game.js></script>
	<script src=javascripts/jquery-1.11.2.js></script>
	<script src=javascripts/bootstrap.js></script>
	
</body>


</html>