<!doctype html>

<html>
<head>
	<title>GeoTest</title>
	<meta charset="utf-8">
	<meta name="description" content="A test of geolocation API">
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
	

</head>

<body>
	
	<div class="container">
		<div id="alertSpace"></div>
	
		<h1>Hi There!</h1>
		
		<p>This game functions as a location-based, realtime, choose your own adventure, radio play. That's a lot of words.</p>
		<p>What this means is that you must be able to hear the sounds. Headphones are a great way to do that.</p>
		<p>It also means that this game uses your location. If you decide to play, you will be asked if it's okay for this website to use your location. You should say yes.</p>
		<p>If you're worried about privacy, don't be. This doesn't store your location. It simply determines your location and checks it against a database so it can play you the correct sound for your location. Once the game ends, it stops tracking, and at no point does it store your location in any database or anything.</p>
		
		
		<h4>If you're okay with that, then click the button below!</h4>
		
		<button class="btn btn-default" type="button" id="playButton">Play game!</button>
	
	</div>
	
	

	
	
	<script src=javascripts/jquery-1.11.2.js></script>
	<script src=javascripts/game.js></script>
	<script src=javascripts/bootstrap.js></script>
	
</body>


</html>